In [1]:
!pip install emoji
import nltk
nltk.download('punkt')

Requirement already satisfied: emoji in /usr/local/lib/python3.7/site-packages (0.5.4)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/carlospenaloza/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [1]:
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt
from collections import Counter
from textblob import TextBlob
from bs4 import BeautifulSoup
import matplotlib.cm as cm
from string import punctuation
from string import digits
import urllib.request
import networkx as nx
import pandas as pd
import itertools
import emoji
import math
import time
import json
import sys
import re
import os

# TODO: remove this when NetworkX is fixed
from warnings import simplefilter
import matplotlib.cbook
simplefilter("ignore", matplotlib.cbook.mplDeprecation)

In [2]:
# Import tweets
tweets = pd.read_csv('https://raw.githubusercontent.com/cpenalozag/twitter_network/master/tweets/statuses.csv')

tweets.head()

,id,tweet_id,created_at,text,favorite_count,retweet_count,phone,sensitive,hashtags,no_hashtags,mentions,no_mentions,no_urls,no_media
0,113127283.0,1.172520e+18,9/13/19 14:56,@enriqueserrano3 @Restrebooks @ELTIEMPO @enriq...,1,0,Twitter Web App,False,-,0,"[238261607, 3252651209, 9633802, 1073577478566...",6,0,1
1,113127283.0,1.172520e+18,9/13/19 14:54,@enriqueserrano3 @Restrebooks @ELTIEMPO @enriq...,2,0,Twitter Web App,False,-,0,"[238261607, 3252651209, 9633802, 1073577478566...",5,0,1
2,113127283.0,1.172520e+18,9/13/19 14:52,@enriqueserrano3 @Restrebooks @ELTIEMPO @enriq...,1,0,Twitter Web App,False,-,0,"[238261607, 3252651209, 9633802, 1073577478566...",6,0,1
3,113127283.0,1.172520e+18,9/13/19 14:50,@enriqueserrano3 @Restrebooks @ELTIEMPO @enriq...,0,0,Twitter Web App,False,-,0,"[238261607, 3252651209, 9633802, 1073577478566...",6,0,1
4,113127283.0,1.172520e+18,9/13/19 14:48,@enriqueserrano3 @Restrebooks @ELTIEMPO @enriq...,0,0,Twitter Web App,False,-,0,"[238261607, 3252651209, 9633802, 1073577478566...",4,0,1

In [3]:
# Import spanish stop word dictionary
url_sw = 'https://raw.githubusercontent.com/cpenalozag/twitter_network/master/utils/stopwords-es.json'
response_sw = urllib.request.urlopen(url_sw)
data_sw = response_sw.read()

stop_words = set(json.loads(data_sw))

# Import emoji meanings
emoji_translations = pd.read_csv('https://raw.githubusercontent.com/cpenalozag/twitter_network/master/utils/emojis_translated.csv')

# Get spanish meaning of an emoji
def emoji_meaning(emoji):
    meaning = emoji_translations.loc[emoji_translations['emoji'] == emoji]['translation']
    return meaning.values[0] if not meaning.empty else ''

# Transformations to remove digits and punctuation
remove_digits = str.maketrans('', '', digits)
remove_punctuation = str.maketrans('', '', punctuation)

In [36]:
from utils.ipython_exit import exit

""" Processes text data in tweets
    
    text: text of tweet
    word_counts: word count dictionary
    
    returns processed text, length of content, polarity, subjectivity
"""
def process_text(text, word_counts, user_id):
    # Remove links
    text = ' '.join(re.sub("(\w+:\/\/\S+)", " ", text).split())
    
    # Remove file names
    
        
    # Remove mentions
    text = ' '.join(re.sub("(@[A-Za-z0-9^\w]+)", " ", text.replace('@ ','@').replace('# ','#')).split())
        
    # Replace hashtags with words
    if text.count('#')>0:
        text = ' '.join(re.findall('[A-Z][^A-Z]*', text.replace('#', ' ')))
            
    #Remove HTML tags
    text = BeautifulSoup(text).get_text()
    
    # Save content length (exluding links and mentions)
    length = len(text)
        
    # Remove punctuation symbols
    text = ' '.join(re.sub("[\.\,\¡\¿\!\?\:\;\-\=\*\(\)\[\]\"\'\“\_\+\”\%\/\‘\’]", " ", text).split())
    text = text.translate(remove_digits).translate(remove_punctuation)
        
    # Lower case to avoid case sensitive problems
    text = text.lower()
        
    # Replace emojis with names 
    text = emoji.demojize(text)
        
    # Add space between emojis and other characters
    ind = -2
    for c in range(text.count(':')):
        ind = text.find(':',ind+2)
        if c%2==0:
            newLetter = ' :'
        else:
            newLetter = ': '
        text ="".join((text[:ind],newLetter,text[ind+1:]))
            
    # Replace emoji names with spanish meaning
    result = []
    parts = text.split(' ')
    for part in parts:
        if part:
            if part[0]==':':
                em = handle_emoji_tone(part)
                em = emoji_meaning(em)
                if em:
                    result.append(em)
            else:
                if part not in stop_words:
                    if part not in word_counts:
                        word_counts[part] = 1
                    else:
                        word_counts[part] += 1
                result.append(part)
        
    text = ' '.join(result)
        
    # Filter using NLTK library append it to a string
    word_tokens = word_tokenize(text)
    result = [w for w in word_tokens if not w in stop_words]
    text = ' '.join(result)
    
    # Check if text contains at least a word
    if len(text)>8:
        analysis = TextBlob(text)
        try:
            # Sentiment analysis
            eng = analysis.translate(to='en')
            sentiment = eng.sentiment     
            polarity = sentiment.polarity
            subjectivity = sentiment.subjectivity
            # Sleep to comply with google translate's rate limit per 100 seconds
            time.sleep(.45)
        except Exception as e:
            # Daily rate limit reached, pause execution to restart with new IP
            if str(e)=='HTTP Error 429: Too Many Requests':
                print('Error')
                print('Last user:', user_id)
                exit()
            # If there is a problem with translation assign neutral sentiment and subjectivity
            else:
                polarity = 0.0
                subjectivity = 0.0
    
    else:
        # Neutral polarity and subjectivity if text does not contain a large enough message
        polarity = 0.0
        subjectivity = 0.0
    

    return text, length, polarity, subjectivity

tones = ['_light_skin_tone','_medium-light_skin_tone','_medium_skin_tone', 
             '_medium-dark_skin_tone','_dark_skin_tone']

# Method that removes the tone from emojis
def handle_emoji_tone(emoji):  
    for t in tones:
        if t in emoji:
            tone = t
            return emoji.replace(tone,'')
    return emoji

In [5]:
# Import user data
user_info=pd.read_csv('https://raw.githubusercontent.com/cpenalozag/twitter_network/master/network-data/user_info.csv')
user_ids = list(user_info['id'])

In [45]:
# List to hold part of the dataset
text_analysis = []
text_analysis.append(['id', 'tweet_id','engagement',
            'effective_length', 'polarity', 'subjectivity'])

# List to store average engagement
avg_eng = []
avg_eng.append(['id', 'average_engagement', 'common_words', 'common_ht_words',
               'common_hts'])

''' Text analysis '''

last_uid = 394156956
found_start = False

for user_id in user_ids:
    if not found_start and user_id != last_uid:
        continue
    else:
        found_start = True
    
    # Total engagement
    eng = 0
    tweet_count = 0
    
    # Frequent word dictionary
    freq_words = {}

    # Frequent hashtag dictionary
    freq_hashtags = {}

    # Frequent words in hashtags dictionary
    freq_ht_words = {}
    
    user_tweets = tweets.loc[tweets['id'] == user_id]
    for index, row in user_tweets.iterrows():
      
        # Add current engagement
        currEng = int(row['favorite_count'])+int(row['retweet_count'])
        eng += currEng
        tweet_count +=1
        
        # Get hashtags
        ht = row['hashtags'].split(';') if row['hashtags'] != '-' else []
        
        # Update hashtag count
        for hashtag in ht:
            if hashtag not in freq_hashtags:
                freq_hashtags[hashtag] = 1
            else:
                freq_hashtags[hashtag] += 1
        
        # Separate hashtags by capitalization
        ht_words = [re.findall('[a-zA-Z][^A-Z]*', w) for w in ht]
        
        # Create a list with all the words in the hashtags
        hts = []
        for h in ht_words:
            hts = hts + h
        
        # Remove digits and lower caps for every hashtag word
        hts = [item.translate(remove_digits).lower() for item in hts]
        
        # Update hashtag word frequencies
        for word in hts:
            if word not in stop_words:
                if word not in freq_ht_words:
                    freq_ht_words[word] = 1
                else:
                    freq_ht_words[word] += 1
        
        text, length, polarity, subjectivity = process_text(row['text'], freq_words, user_id)
        
        # Update text in  data frame
        text_analysis.append([user_id, row['tweet_id'], currEng, length, polarity, subjectivity])
    
    print(tweet_count, 'tweets analysed for user', user_id)
    if tweet_count > 0:
        average_engagement = eng / tweet_count
    else:
        average_engagement = 0
    c_words = Counter(freq_words)
    c_ht_words = Counter(freq_ht_words)
    c_hashtags = Counter(freq_hashtags)
    avg_eng.append([user_id, average_engagement, c_words.most_common(3),
                   c_ht_words.most_common(3), c_hashtags.most_common(3)])

184 tweets analysed for user 394156956.0

In [39]:
### Used to remove data about last user being processed when execution stopped due to rate limit
print(len(text_analysis), len(avg_eng))
print(avg_eng[-1])
last_id = 394156956.0
text_analysis = [l for l in text_analysis if not last_id in l]
avg_eng = [l for l in avg_eng if not last_id in l]
print(len(text_analysis), len(avg_eng))

16589 161
[225077623.0, 14.620689655172415, [('love', 28), ('is', 25), ('in', 25)], [('love', 22), ('is', 21), ('in', 21)], [('LoveIsInDaHouse', 21), ('loveisindahouse', 19), ('alertaenlacasa', 14)]]
16589 161

In [41]:
# Save tweet analysis in a dataframe
analysis_results = pd.DataFrame(text_analysis[1:])
analysis_results.columns = text_analysis[0]
analysis_results["id"] = pd.to_numeric(analysis_results["id"])
analysis_results.head()

,id,tweet_id,engagement,effective_length,polarity,subjectivity
0,599480425.0,1.176830e+18,2,230,0.045455,0.166667
1,599480425.0,1.176650e+18,4,143,0.000000,0.000000
2,599480425.0,1.176640e+18,19,268,0.016667,0.033333
3,599480425.0,1.176590e+18,2,113,0.000000,0.000000
4,599480425.0,1.176540e+18,2,158,0.000000,0.000000

In [42]:
# Save user engagement in a dataframe
user_engagement = pd.DataFrame(avg_eng[1:])
user_engagement.columns = avg_eng[0]
user_engagement["id"] = pd.to_numeric(user_engagement["id"])
user_engagement.head()

,id,average_engagement,common_words,common_ht_words,common_hts
0,599480425.0,4.865546,"[(apropiación, 81), (digital, 53), (internet, ...","[(apropiación, 81), (digital, 44), (conectados...","[(ApropiaciónTIC, 81), (PoderDigital, 27), (Co..."
1,91488267.0,243.882353,"[(femenino, 34), (empoderamiento, 32), (libro,...","[(empoderamiento, 32), (femenino, 32), (libro,...","[(EmpoderamientoFemenino, 32), (LibroEnConstru..."
2,271551368.0,81.659091,"[(santander, 36), (colombia, 21), (partido, 19)]","[(santander, 16), (bucaramanga, 10), (duerme, 6)]","[(SíLoHace, 25), (SíTrabajaPorSantander, 9), (..."
3,453955367.0,6.424528,"[(valoramos, 66), (esencial, 66), (cali, 37)]","[(valoramos, 51), (esencial, 51), (cali, 35)]","[(ValoramosLoEsencial, 51), (TrabajamosxCali, ..."
4,174496334.0,441.474490,"[(feliz, 35), (…, 25), (semana, 21)]","[(repost, 11), (tbt, 4), (sintetassihayparaiso...","[(Repost, 11), (tbt, 4), (sintetassihayparaiso..."

In [43]:
# Merge tweet analysis and user engagement in results data frame
analysis_results = pd.merge(analysis_results, user_engagement, on='id')
len(analysis_results)

16588

In [44]:
# Write results to file
file_name = 'analysis_results.csv'
if not os.path.exists(file_name):
    analysis_results.to_csv(file_name, index=False)
else:
    analysis_results.to_csv(file_name, mode='a', header=False, index=False)

In [ ]:
# Check last merge with lenghts to avoid duplicates

In [46]:
# Merge user and tweet data
processed_data = pd.merge(user_info, analysis_results, on='id')
processed_data.head()

,id,katz,betweenness,authority,screen_name,followers,friends,verified,created_at,listed,tipo,average_engagement,common_words,common_ht_words,common_hts,tweet_id,engagement,effective_length,polarity,subjectivity
0,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.142850e+18,42,125,0.600000,0.800000
1,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.142570e+18,1441,62,0.000000,0.000000
2,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.141490e+18,611,20,0.200000,0.400000
3,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.141420e+18,16,184,0.366667,0.500000
4,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.141130e+18,180,261,-0.600000,0.900000
5,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.140000e+18,39,45,0.300000,0.200000
6,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.138980e+18,16,126,0.416667,0.616667
7,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.138110e+18,61,89,0.000000,0.000000
8,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.135690e+18,20,183,-0.145833,0.875000
9,426146744.0,1.580982,0.000668,0.000029,SteevenOrozco,655637,476,False,2011,842,opinion,457.25,"[(creyentes, 4), (bavaria, 4), (rt, 3)]","[(creyentes, 4), (bavaria, 3), (efecty, 1)]","[(Creyentes, 4), (MeUnoBavaria, 3), (EfectyElG...",1.130910e+18,14,148,0.383333,0.600000

In [ ]:
tweets = tweets.drop(['text','phone','hashtags','mentions'], axis=1)
processed_data = pd.merge(processed_data, tweets, on='id')
processed_data.head()

In [47]:
# Write processed data to file
processed_data.to_csv('processed_data.csv', index=False)